.main-footer {
  margin-top: auto;
  flex-direction: column;
  background-color: #f1f1f1;
  padding: 1rem 0;
  grid-gap: 0.5rem;
  gap: 0.5rem;
  color: var(--primary-color);
  width: 100%;
}

.footer-links {
  font-size: 1.75rem;
  display: inline-flex;
  grid-gap: 2rem;
  gap: 2rem;
  color: #3f6acd;
}

.footer-text {
  font-size: .9rem;
}