.product-listing-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filter-box {
  flex: 0 0 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-bottom: 20px;
}

.filter-options {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .filter-box {
    flex: 0 0 30%;
    max-width: 255px;
    padding: 55px;
    height: 71vh;
    margin-bottom: 10px;
    padding-top: 80px;
    position: fixed;
  }

  .product-Listing {
    flex: 1 0 70%;
    margin-left: 265px;
  }

  .product-ListingItem {
    width: calc(50% - 20px);
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }


.loading-img{
  width: 3rem;
  padding-left: 17%;

}}

@media (max-width: 480px) {
  .filter-box {
    padding: 20px;
    height: auto;
    margin-bottom: 10px;
    position: static;
  }


}


.product-Listing {
  flex: 1 0 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#label {
  height: 5vh;
}

.filter-range {
  display: flex;
  justify-content: space-around;
  margin-right: 2rem;
}